.productsDiv{
    /* border-top: 1px solid black; */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5%;
    width: 450px;
    height: 550px;
    justify-content: space-evenly;
    border-radius: 8px;
    background: #fbfbfb;
    margin-bottom: .5%;
    box-shadow: 1px 2px 8px rgb(0 0 0 / 65%);
}

.productImg{
    width: 55%;
    height: 85%;
}

nav {
    display: flex;
    justify-content: space-around;
    background-color: black;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 15px;
}

.navLink {
    color: white;
    text-decoration: none;
}

/* body {
    position: relative;
    min-height: 100vh;
} */

#pageContainer {
    position: relative;
    min-height: 100vh;
}

#app {
    padding-bottom: 2.5rem;
}

#footer {
    color: rgb(255, 255, 255);
    position: fixed;
    bottom: 0;
    width: 100%;
    /* height: 2.5rem; */
    text-align: center;
    /* margin-bottom: -10;
    margin-top: 10; */
    /* padding: 20px; */
    background-color: black;
    margin-top: -10px;
    margin-left: -10px;
    margin-right: -10px;
    padding: 5px;
}

.reviewDiv {
    /* border: 2px solid black; */
    margin: .5%;
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgb(0 0 0 / 65%);
    padding-left: 1%;
    text-align: center;
}

h1 {
    text-align: center;
}

.landingPage {
    text-align: center;
}

.productsContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.detailContainer {
    display: flex;
    flex-wrap: wrap;
    /* border: 5px solid blue; */
}

.productDetails {
    display: flex;
    flex-direction: column;
    /* border: 2px solid black; */
    text-align: center;
}

.reviewDetails {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

h4 {
    margin: .5%;
    text-align: center;
}

.descriptionText {
    width: 350px;
    height: 100px;
}

.container {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgb(0 0 0 / 65%);
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 250px;
    text-align: center;
}

.registercontainer {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgb(0 0 0 / 65%);
    margin-left: auto;
    margin-right: auto;
    width: 250px;
    height: 280px;
}

/* form {
    padding: 12px 44px;
    display: flex;
    flex-direction: column;
    text-align: center;
} */

.TypingInput {
    padding: 3%;
}

.submitcontain {
    padding: 3%;
}

.register {
    text-align: center;
}
/* 
body {
    background: #0000009e;
} */

.catDiv{
    /* border-top: 1px solid black; */
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5%;
    width: 250px;
    height: 350px;
    justify-content: space-evenly;
    border-radius: 8px;
    background: #fbfbfb;
    margin-bottom: .5%;
    box-shadow: 1px 2px 8px rgb(0 0 0 / 65%);
}

.catContainer {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.cartDiv {
    display: flex;
    flex-direction: column;
    text-align: center;
    padding: .5%;
    width: 225px;
    height: 250px;
    justify-content: space-evenly;
    border-radius: 8px;
    background: #fbfbfb;
    margin-bottom: .5%;
    box-shadow: 1px 2px 8px rgb(0 0 0 / 65%);
}

button {
    background-color: black;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    height: 35.3px;
    margin: 2% auto;
    width: 137px;
}

.link {
    color: white;
}

.mainPage {
    text-align: center;
}

.profileInfo {
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgb(0 0 0 / 65%);
    margin-left: auto;
    margin-right: auto;
    width: 350px;
    height: 220px;
    padding: 1%;
}

.checkout {
    color: white;  
    text-decoration: none;
}

.cartItems {
    display: flex;
    justify-content: center;
}

.cartButton {
    background-color: black;
    border: none;
    border-radius: 21px;
    cursor: pointer;
    color: rgb(255, 255, 255);
    height: 35.3px;
    margin: 2% auto;
    width: 137px;
    text-align: center;
}

.reviewHeader {
    text-align: center;
}

.addReview {
    text-align: center;
}

.addCart {
    display: flex;
    flex-direction: column;
    margin: .5%;
    background: #fbfbfb;
    border-radius: 8px;
    box-shadow: 1px 2px 8px rgb(0 0 0 / 65%);
    padding-left: 1%;
    text-align: center;
}

.cartQuantity {
    width: min-content;
    margin: auto;
}

.cartDefault {
    text-align: center;
}